body{
  font-family: Helvetica;
  font-size:22px;
  color: grey;
  opacity:0.9;
  background-color: black;
}
header{
  background-color: black;
  width:100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
}

header img{
  margin-left: 10px;
  height: 50px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: 2px solid green;
}
ul span{
  display: inline-flex;
  position: relative;
  border: 2px solid green;
  margin-right: 40px;
  text-decoration: underline;
}

/* Body */
.hero img{
  height:800px;
  position: relative;
  align-items: center;
  top:100px;
}
.hero{
  width: 100%;
  border: 2px solid red;
  position: relative;
}
.hero .textoverlay{
  background-color: black;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
  position: relative;
  top: -400px;
}
.grid img{
  height: 200px;
  width: 300px;
  display: inline-flex;
  margin: 20px;
  justify-content: space-between;
  position: relative;

}
.grid{
  display: flex;
  width: 100%;
  border: 2px solid blue;
  position: relative;
}
