body{
  font-family: Helvetica;
  font-size:22px;
  color: seashell;
  opacity:0.9;
}
header{
  background-color: black;
  width:100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
}

header img{
  margin-left: 10px;
  height: 50px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: 2px solid green;
}
ul span{
  display: inline-flex;
  position: relative;
  border: 2px solid green;
  margin-right: 40px;
}
